@model List<AutoMarket.Domain.Models.Car>

@foreach (var car in Model)
{
    <p>Name: @car.Name</p>
    <p>Model: @car.Model</p>
    <p>Description: @car.Description</p>
    <p>Price: @car.Price</p>
    <p>DataCreate: @car.DateCreate</p>
    <hr /> 
}